<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../assets/favicon.ico">

    <title>Template para busquedas especiales de estudiantes</title>

    <!-- Bootstrap core CSS -->
    <link href="../assets/styles/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../assets/styles/template.css" rel="stylesheet">
  </head>

  <body>
      <form action="/carrera/BuscarMateriasdeCarrera/" class="form-signin2">
    <table class="table table-striped">
        <thead>
          <tr>
            <th>IDCarrera</th>
            <th>Carrera</th>
        
          </tr>
        </thead>
        <tbody>
          <tr>
            <% _.each(carreras, function(carrera) {%>
              <th scope="row">
                <%=carrera.idcarrera%>
              </th> 
              <th >
                <%=carrera.nombre%>
            </th>      
          </tr>
          <%}) %>
        </tbody>
      </table> 
      <hr class="mb-4">
      <h6 class="h3 mb-3 font-weight-normal">Ingrese el ID</h6>
      <label for="idcarrera" class="sr-only">ID de la Carrera a escoger</label>
      <input type="int" name="idcarrera" class="form-control" placeholder="ID de la Carrera" required>
      <hr class="mb-4">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Siguiente</button>
      <p class="mt-5 mb-3 text">&copy; Los que flinchy</p>
      </form> 

      </body>
  
</html>
