<html>
    <head>
        <link rel="stylesheet" href="../../assets/styles/bootstrap.1.css">
        <img class:"img" src="http://www.unimet.edu.ve/unimetsite/wp-content/uploads/2014/06/Logo-UNIMET-color-300-dpi.jpg" alt="Logotipo UNIMET" width="300" height="100">
    </head>
        <div>
        <body>
            <h2>Regístrate</h2>    
            <form action="/user/registrar" method="post" accept-charset="utf-8" class="form-singin">
                <label>Nombre</label>
                <input type="text" name="nombre" class="form-control input-lg" placeholder="Nombre" required>
                <label>Apellido</label>
                <input type="text" name="apellido" class="form-control input-lg" placeholder="Apellido" required>
                <label>Cedula</label>
                <input type="int" name="cedula" class="form-control input-lg" placeholder="Cedula" required>
                <label>Carnet</label>
                <input type="int" name="carnet" class="form-control input-lg" placeholder="Carnet"  required>
                <label>Correo</label>
                <input type="email" name="correo" class="form-control input-lg" placeholder="email" required>
                <label>Telefono</label>
                <input type="int" name="NroTlfn" class="form-control input-lg" placeholder="Telefono" required>
 
                </br>
                </br>
                <button type="submit" class="btn btn-lg btn-primary btn-block">Registrarme</button>
            </form>
        </body>
    </div>
</html>