<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../assets/favicon.ico">

    <title>Template para busquedas especiales de materias</title>

    <!-- Bootstrap core CSS -->
    <link href="../assets/styles/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../assets/styles/template.css" rel="stylesheet">
  </head>

  <body class="identificacion">
    <section id="identificacion">
    <form action="/materia/prelacion/" method="post"class="form-signin2" >
      <h1 class="h3 mb-3 font-weight-normal">Ingrese el código de la Materia</h1>
      <label for="codigo" class="sr-only">Código de la Meteria</label>
      <input type="int" name="codigo" class="form-control" placeholder="Código Materia" required>
      <hr class="mb-4">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Siguiente</button>
      <p class="mt-5 mb-3 text">&copy; Los que flinchy</p>
    </form>
  </section>
  </body>
</html>