<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../assets/favicon.ico">

    <title>Busquedas especiales</title>

    <!-- Bootstrap core CSS -->
    <link href="../../assets/styles/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../assets/styles/offcanvas.css" rel="stylesheet">
  </head>

  <body class="bg-dark">

    <main role="main" class="container">

      <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">Busquedas para Estudiantes</h6>
        <div class="media text-muted pt-3">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <a href="#">Oferta académica de una carrera</a>
            </div>
          </div>
        </div>
        <div class="media text-muted pt-3">
            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <div class="d-flex justify-content-between align-items-center w-100">
                <a href="identificacion">Materias que estoy cursando</a>
                </div>
            </div>
        </div>
        <div class="media text-muted pt-3">
            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <div class="d-flex justify-content-between align-items-center w-100">
                <a href="#">Aula de las clases que estoy cursando</a>
                </div>
            </div>
        </div>
    </div>
        
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../assets/js/holder.min.js"></script>
    <script src="../../assets/js/dependencies/jquery-3.3.1.js"></script> 
    <script src="../../assets/js/popper.min.js"></script> 
    <script src="../../assets/js/bootstrap.js"></script> 
    <script src="../../styles/js/offcanvas.js"></script>
  </body>
</html>