<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../assets/favicon.ico">

    <title>Template para busquedas especiales de estudiantes</title>

    <!-- Bootstrap core CSS -->
    <link href="../assets/styles/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../assets/styles/template.css" rel="stylesheet">
  </head>

  <body class="buscarseccion">
    <!-- <table class="table table-striped">
        <thead>
          <tr>
            <th>IDSeccion</th>
        
          </tr>
        </thead>
        <tbody>
          <tr>
            <% _.each(secciones, function(seccion) {%>
              <th scope="row">
                <%=seccion.idseccion%>
              </th>

              <td>
                <a class="btn btn-outline-success" href="../mostrar" role="button">Ver Estudiantes</a>
              </td>
    
          </tr>
          <%}) %>
        </tbody>
      </table> -->
      
      <div class="col-md-6 mb-3">
          <label class="mr-sm-2" for="idcarrera">Secciones</label>
          <select name="idseccion" class="form-control">
            <option selected>Secciones..</option>
            <%_.each(secciones, function(seccion) {%>}
              <option value="<%=seccion.idseccion%>">
                <%=seccion.idseccion%>
              </option>
              <%})%>
          </select>
        </div>
        <div class="col-md-6 mb-3">
            <a class="btn btn-outline-success" href="../mostrar" role="button">Ver Estudiantes</a>
        </div>
</html>