<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../assets/favicon.ico">

    <title>Template para busquedas especiales de estudiantes</title>

    <!-- Bootstrap core CSS -->
    <link href="../assets/styles/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../assets/styles/template.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <form class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal">Ingrese la cedula del Profesor</h1>
      <label for="cedula" class="sr-only">Cedula</label>
      <input type="int" name="cedula" class="form-control" placeholder="Cedula Profesor" required>
      <hr class="mb-4">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Siguiente</button>
      <p class="mt-5 mb-3 text">&copy; Los que flinchy</p>
    </form>
  </body>
</html>